* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

#quote-box {
  background-color: #fff;
  width: 40rem;
  margin: 10rem auto;
  border-radius: 5px;
  padding: 3rem;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}



.social-media > a {
  margin-right: .5rem;
  background: rgba(105, 105, 235, 0.637);
  padding: .5rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: .9;
}

.social-media > a img{
 width: 1.1rem;
}

#new-quote {
  background-color: rgba(105, 105, 235, 0.637);
  border: none;
  color: #fff;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

}

#new-quote:hover {
  opacity: 0.9;
}
